
body {
    /*background-color: black;*/
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------*/

p {
    color: white;
    font-size: 1.75rem;
    text-align: center;
}

h1 {
    max-height: auto;
    padding: 1.5rem, 1.5rem, 1.5rem, 0rem;
    border-width: 7px;
    border-style: ridge;
    border-color: yellow;
    /*background-color: #5A9453;*/
    font-size: .75rem;
    max-width: 100%;
    height: auto;
    font-family: 'Russo One', sans-serif;
    font-size: 2.5rem;
    font-stretch: ultra-expanded;
    color: white;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.75rem;
    text-align: center;
    -webkit-animation: mymove 5s infinite;
    /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes mymove {
    from {
        background-color: #E03221;
    }
    to {
        background-color: blue;
    }
}


/* Standard syntax */

@keyframes mymove {
    from {
        background-color: red;
    }
    to {
        background-color: green;
    }
}


/*=========================================================================*/

h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
}

span {
    /*--------------------------------*/
    /*--------------------------------*/
    padding-bottom: .25rem;
    max-height: auto;
    color: #FFEA00;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    font-color: yellow;
    -webkit-animation: mymove 5s infinite;
    /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
    /* Chrome, Safari, Opera */
    @-webkit-keyframes mymove {
        from {
            font-color: #E03221;
        }
        to {
            font-color: blue;
        }
    }
    /* Standard syntax */
    @keyframes mymove {
        from {
            font-color: red;
        }
        to {
            font-color: green;
        }
    }
}


/*=========================================================================*/

table {
    background-color: #E3E3DD;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: solid 2.5px orange;
    max-width: 100%;
    /* min-width: 600px;*/
    text-align: center;
    width: 80%;
    padding: 0px;
    overflow: hidden;
}

caption {
    font-family: 'Amiri', serif;
    font-size: 1.75rem;
    font-weight: 900;
    font-style: oblique;
    color: #131D7F;
    background-color: green;
}

tr:hover {
    background-color: hsl(89, 96%, 68%);
}

td,
th {
    /*background-color: #E3E3DD;*/
    position: relative;
    border: solid;
}

td:hover::after,
th:hover::after {
    position: absolute;
    /*background-color: #DDE30F;*/
    content: ",";
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

td {
    text-align: left;
    font-size: 1.2rem;
}

table {
    width: 99%;
}


/*h1 {
    text-align: center;
    font-size: 40px;
    color: hsl(26, 73%, 42%);
}*/


/*===================================================================================================================tablet app===========================*/

@media screen and (min-width: 35em) and (max-width: 60em) {
    .masthead {
        width: 100%;
    }
    h1 {
        font-family: 'Russo One', sans-serif;
        font-size: 3.25rem;
    }
    table {
        width: 75%
    }
    td {
        font-size: 1.5rem;
    }
    caption {
        font-size: 2rem;
    }
    h2 {
        font-family: 'Russo One', sans-serif;
        font-size: 2.15rem;
    }
}


/*======================================================================desktop app.======================================================================*/

@media screen and (min-width:60em) {
    .masthead {
        width: 100%;
    }
    h1 {
        font-family: 'Russo One', sans-serif;
        font-size: 3.15rem;
    }
    h2 {
        font-family: 'Russo One', sans-serif;
        font-size: 2.12rem;
    }
    table {
        width: 62%;
    }
    td {
        font-size: 1.72rem;
    }
    caption {
        font-size: 2.2rem;
    }
}
